@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* ############## utility class ######### */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* ######################## Navbars */

.navbar input[type='checkbox'],
.navbar hamburger-lines {
    display: none;
}  

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}

/* ############# show case area ############# */

.showcase-area {
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(250, 250, 250, 0.336)),url("/header-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary {
    color: #fff;
    background: #16a083;
}

/* ############### about page styling ###### */
#about {
    background-color: #f5f4f5;
}
.about-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    background: #f5f5f5;
}

.about-text h2{
    font-size: 3.2rem;
}
.about-text p {
    font-size: 1.6rem;
    color: #555;
}

.about-text small {
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}

.about-image {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
    100% {
        transform: translateX(0);
    }
    
}

.about-image img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translateX(0);
    }
    
}

/* ######## food category styling ######## */

#food {
    padding: 5rem 0 10rem 0;
}

#food h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container {
    display: flex;
    justify-content: space-between;
}

.food-container img {
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
}